<header class="bg-secondary py-8">
  <div class="container mx-auto">
    <h1 class="text-3xl mb-0"><%= @game.quiz.title %></h1>
    <div class="flex space-x-1">
      <p class="mb-0">En ligne dans la partie:</p>
      <%= turbo_stream_from "game_#{@game.id}", channel: "GameChannel", data: {id: @game.id} %>
      <ul id="users-list" class="flex space-x-3"></ul>
    </div>
  </div>
</header>
<section class="container mx-auto">
  <% if @game.current_question_id %>
    <%= turbo_stream_from "game_#{@game.id}_current_question" %>
    <%= turbo_frame_tag "current_question", src: game_new_user_answer_path(game_id: @game.id, question_id: @game.current_question_id), load: :lazy do %>
      Chargement de la question...
    <% end %>
  <% end %>
</section>